@media (max-width: 1200px) {
  .img-mention img {
    width: 225px;
    height: 180px;
  }
}

@media (max-width: 900px) {
  .img-mention img {
    width: 220px;
    height: 160px;
  }
}

@media (max-width: 800px) {
  .img-mention img {
    width: 130px;
    height: 90px;
  }
}

@media (max-width: 600px) {
  .products {
    display: inherit;
    height: auto;
  }

  .product {
    margin-top: auto;
  }

  .main-section {
    padding: 4%;
  }

  .stickers,
  .mentions {
    display: inherit;
    height: auto;
  }

  .sticker {
    margin-top: 10px;
    padding: 25px;
  }

  .mention {
    padding: 50px;
  }

  .img-mention img {
    width: 22em;
    height: 12em;
  }
}

@media (max-width: 560px) {
  .img-mention img {
    width: 17em;
    height: 8em;
  }
}

@media (max-width: 480px) {
  .img-mention img {
    width: 14em;
    height: 6em;
  }
  .modulo-pago-images img {
    width: 120px;
  }
}

@media (max-width: 380px) {
  .img-mention img {
    width: 7em;
    height: 4em;
  }

  .modulo-pago-images img{
    width: 75px;
    height: 90px;
  }
}
